<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <% if user_signed_in? %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to t('app.profile'), current_user, class: 'nav-link active', data: { turbo: false }, 
                  aria: { label: "page" } %>
        </li>
        <li class="nav-item">
          <%= link_to t('app.exit'), destroy_user_session_path, class: 'nav-link active', 
                  data: { turbo_method: :delete }, aria: { label: "page" } %>
        </li>
      </ul>
      <% else %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to t('app.sign_in'), new_user_session_path, class: 'nav-link active', 
                  aria: { label: "page" } %>
        </li>
        <li class="nav-item">
          <%= link_to t('app.sign_up'), new_user_registration_path, class: 'nav-link active', 
                  aria: { label: "page" } %>
        </li>
      </ul>
      <% end %>

      <%= render partial: 'partials/locale' %>
      
    </div>
  </div>
</nav>
