<!DOCTYPE html>
<html>

<head>
  <title>Bbq</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=<%= ENV['MAP_API_KEY'] %>&lang=ru_RU" type="text/javascript">
  </script>
  <%= render 'application/favicon' %>
</head>

<body>
  <div class="container">

      <%= render partial: 'partials/navbar' %>

    <div class="row">

        <%= bootstrap_flash %>
        <%= yield %>

    </div>
    <footer class="sticky-bottom py-3 text-center bg-light">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; <%= t('app.company') %>
      </div>
    </footer>
  </div>
</body>

</html>
