<!DOCTYPE html>
  <html>
    <head>
      <title>Bbq</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    </head>

    <body>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid justify-content-start">
            <%= link_to "BBQ!", root_path, class: 'btn btn-outline-success me-2' %>
            <% if user_signed_in? %>
              <%= link_to 'Профиль', current_user, class: 'btn btn-sm btn-outline-secondary me-2' %>
              <%= button_to 'Выйти', destroy_user_session_path, class: 'btn btn-sm btn-outline-secondary me-2',
                          method: :delete %>
            <% else %>
              <%= link_to 'Войти', new_user_session_path, class: 'btn btn-sm btn-outline-secondary me-2' %>
              <%= link_to 'Зарегистрироваться', new_user_registration_path, 
                          class: 'btn btn-sm btn-outline-secondary me-2' %>
            <% end %>
          </div>
        </nav>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-9 mt-3">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
          <div class="col-lg-3">
          </div>
        </div>

        <footer class="fixed-bottom py-3 text-center bg-light">
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 BBQ
          </div>
        </footer>

      </div>
    </body>
  </html>
